# audio loading
librosa

# required for librosa on newer Python versions
standard-aifc
standard-sunau

# matrices and machine learning
numpy
torch
scikit-learn

# dataset download feedback
progressbar

# tqdm
tqdm

# code formatting, optional
black
matplotlib
